@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --elements-color: hsl(0, 0%, 100%);
}

body {
  background-color: var(--background-color);
  font-family: "Nunito Sans";
  font-size: 14px;
}

.navbar-container {
  padding: 30px;
  height: 10vh;
  background-color: var(--elements-color);
}

.navbar-wraper {
  display: flex;
  justify-content: space-between;
}

.a-tag-titel {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
}

.a-tag-mood {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
}

img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.each-card {
  background-color: var(--elements-color);
}

.search-input {
  padding: 12px;
  border-radius: 8px;
  width: 40vh;
  background-color: white;
  border: 1px solid white;
}

.select-region {
  padding: 12px;
  border-radius: 8px;
  width: 20vh;
  background-color: var(--background-color);
  border: 1px solid white;
  background-color: white;
}

.search-select-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.each-card {
  /* border: 1px solid pink; */
  height: 37vh;
  margin-bottom: 55px;
  box-shadow: 70px white;
  border-radius: 5px;
  text-decoration: none;
  /* width: 220px; */
}

.card-flag-container {}

.card-info-container {
  padding: 15px;
}

.card-info-container>p {
  margin: 0;
}

.country-name {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}