:root {
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --elements-color: hsl(0, 0%, 100%)
}

* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;

}

body {
  background-color: var(--background-color);
  font-family: 'Nunito Sans',
    sans-serif;
}

.navbar-container {
  padding: 30px;
  height: 10vh;
  background-color: var(--elements-color)
}

.navbar-wraper {
  display: flex;
  justify-content: space-between;
}

.a-tag-titel {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
}

.a-tag-mood {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
}

img {
  width: 100%;
}

.each-card {
  background-color: var(--elements-color)
}